<!-- hello_world.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Show DB!!</title>
    </head>
    <body>
        {% for div in Data %}
        	<div style="background-color: #EEE;color: #777;padding:10px;border: 5px #FFF solid;">
	        {% for unit in div %}
	        
		    	<label>{{ unit }}</label>            
	            <br />
	        
	        {% endfor %}
	        </div>
		{% endfor %}
		<h4>Maybe you like</h4>
		{% for div in Data2 %}
        	<div style="background-color: #EEE;color: #777;padding:10px;border: 5px #FFF solid;">
	        {% for unit in div %}
	        
		    	<label>{{ unit }}</label>            
	            <br />
	        
	        {% endfor %}
	        </div>
		{% endfor %}
    </body>
</html>
